<script type="text/javascript">

    var dps = [];
    var socket = io();
    var xVal = 0;
    var yVal = 0;
    var chart;
    var chartData = [];
    var dataMap = [];
    window.onload = function() {
        chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Data From Humidity Sensors"
            },
            backgroundColor: "#3B5159",
            axisX: {
                title: "Time"
            },
            axisY: {
                title: "Humidity"
            },
            toolTip: {
                shared: true
            },
            data: chartData,
            legend: {
                cursor: "pointer",
                itemclick: function(e) {
                    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            }
        });
    }

    function getDeviceID(message) {
        return message.deviceId;
    }

    function getData(deviceId) {
        var dataForDevice = dataMap[deviceId];
        if (typeof dataForDevice === 'undefined') {
            dataForDevice = {
                name: deviceId,
                showInLegend: true,
                type: "spline",
                dataPoints: []
            }
            dataMap[deviceId] = dataForDevice;
            chartData.push(dataForDevice);
            console.log("chart Data is " + chartData);
        }

        return dataForDevice;

    }

    function updateDataForDevice(dataForDevice, message) {
        console.log("updating chart data")
        var yVal = message.data;
        xVal += 1;
        dataForDevice.dataPoints.push({
            x: xVal,
            y: yVal
        });
        if (dataForDevice.dataPoints.length > 20) {
            dataForDevice.dataPoints.shift();
        }

    }

    //chart.render();
    socket.on('message', function(message) {
        // check the device id
        var deviceId = getDeviceID(message);
        // check whether the array corresponding to it has been there
        var dataForDevice = getData(deviceId);

        console.log(dataForDevice);
        // add to array and shift if required
        updateDataForDevice(dataForDevice, message);
        //$('.messages').append('<p>' + JSON.stringify(message) + '</p>');

        chart.render();
    });
</script>
<!--<div class="messages"></div>
		<div>
			<input type="text" id="message" placeholder = "type your message here"/>
			<input type="Button" id="postme" value="Post"></button>
		</div>-->
<div ng-controller="DashboardCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">IOTAPP</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#devices">Devices</a></li>
                    <li><a href="#contact">Services</a></li>
                    <li><a href="#contact">Marketplace</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-sub pull-right">
                    <!--<li><a href="#register">Register</a></li>-->
                    <li><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <section class="showcase-header">
        <div class="container showcase-content">
            <h1>Manage & Monitor all Products </h1>
            <p class="lead">uniform <strong>Dashboard</strong> for your <strong>Devices</strong>
                <!--<br> <strong></strong>-->
            </p>

        </div>

    </section>
    <section class="dashboard-midium">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 ">
                    <span><h3>DASHBOARD </h3></span>
                </div>
                <div class="col-sm-2 ">
                    <p class="lead">Active Devices - <strong>{{user.activatedDevices}}</strong></p>
                </div>
                <!--<div class="col-md-2 ">
					
				</div>-->
                <div class="col-sm-2 ">
                    <p class="lead">Total Devices - <strong>{{user.totalDevices}}</strong></p>
                </div>
                <div class="col-sm-3 text-right">
                    <div>
                        <a ui-sref="create" class="btn btn-dark btn-lg" id="addNewDevice">
                            <span class="fa fa-plus"></span> Add a New Device
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form class="navbar-form pull-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search devices" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section-dark">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <!--<div ui-view>-->
                        
                    </div>
                    <div class="panel-group padding-default" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                <h4 class="panel-title">
        							
										Live Feed From Devices
        						
									<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
      							</h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="chartContainer" style="height: 300px; min-width: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
									My Devices 
									</a>
									<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
      							</h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--<div id="chartContainer" style="height: 300px; min-width: 100%;">
                                </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
									Timeline 
									</a>
									<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
      							</h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- <div id="chartContainer" style="height: 300px; min-width: 100%;">
                                </div>-->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--</div>-->
            </div>

        </div>
    </section>
</div>