<section class="section-dark">
    <div class="container ">
        <div class="row addMargin">
            <div class="col-sm-4 col-sm-offset-4">


                <div class="panel-group padding-default" id="loginForm" ng-controller='LoginFormCtrl'>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/assets/img/Logo.png" alt="OOO" class="img-responsive center-block" />
                            <h1 class="panel-title">
        				        Wecome Back!		
      		                </h1>
                        </div>
                        <div class="panel-body">
                            <form name="login_form">
                                <input type="text" class="input-lg col-xs-12" name="eid" id="email" placeholder="Email" ng-model="email">
                                <input type="password" class="input-lg col-xs-12" name="passwd" placeholder="Password" ng-model="password">
                                <p><button ng-click="login()" class="btn btn-secondary btn-lg">Sign in to IOTApp</button>

                                </p>
                            </form>
                        </div>
                        <div class="panel-footer">

                            <p>
                                <a href="#">Forgot Password?</a> New To IOTAPP?
                                <a href="#">Register</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>